@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:ital,wght@1,500&display=swap');

:root {
  --primary-color: rgba(28, 56, 121, 1);
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.social a {
  font-size: 30px;
  cursor: pointer;
}

.social a:hover {
  transform: scale(1.1);
}

.section-title {
  font-size: 4rem;
  font-weight: 300;
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
.section-title span {
  color: var(--primary-color);
}

@-webkit-keyframes gradientAnimation {
  0% {
    background-position: 0% 30%, 0 0;
  }
  50% {
    background-position: 100% 70%, 0 0;
  }
  100% {
    background-position: 0% 30%, 0 0;
  }
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 30%, 0 0;
  }
  50% {
    background-position: 100% 70%, 0 0;
  }
  100% {
    background-position: 0% 30%, 0 0;
  }
}
